<!--
<%= link_to "Help", "static_pages_help_path" %>
<%= link_to "Log in", "#" %> -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand"><%= link_to "cropshare", root_path, id: "logo" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav text-center">
        <%= button_to "+ List a share", "#", id: "list_a_share", class: "btn btn-og" %>
        <li><%= link_to "Help", help_path, class: "nav-item nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Invite friends", "#", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %></li>
        <li><%= link_to "Log in", new_user_session_path, class: "nav-item nav-link" %></li>
        <%end%>
      </ul>
    </div>

</nav>
